@import '~bootstrap/dist/css/bootstrap-reboot';

.top-cover {
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content;

    align-items: center;
    text-align: center;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('images/natsuki-doya.jpg');
        background-size: cover;
        filter: blur(20px);
        opacity: 0.5;
        z-index: -1;
    }

    h1 {
        grid-column: 1;
    }

    img.full-body {
        grid-column: 2;
        height: 100%;
    }
}
