<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //- OGP
        meta(property="og:title", content="日下夏稀ギャラリー")
        meta(property="og:description", content="かわいいかわいい夏稀ちゃん")
        meta(property="og:url", content="https://natsuki.pink/gallery.html")
        meta(property="og:image", content="https://natsuki.pink/images/natsuki-original-face.png")
        //- OGP
        title 日下夏稀ギャラリー
    body
    h1 Gallery
    .container

